main{


}
header{
	
}

#Perros:hover, #Home:Hover,#Gatos:Hover{
background-color: #f29d99;
color: #ffffff;

}

.page-header{
	margin-bottom:0px;
	margin-top: 0.5em;
	
}

.icon{
	height: 2em;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-default #Perros:Active ,.navbar-default #Home:Active,.navbar-default #Gatos:Active {
	color: #ffffff;
	background-color: #f29d99;

}

.navbar-default{
	background-color: #f29d99;
}


#ShopName{
color: #ffffff;
}

#Carrousel1{
	margin-bottom: 1em;
}



main{
	margin:0 auto;
}



.shoppingitemRow {
   margin: 0;
padding: 0;
      
      

}

.shopitem{
padding: 20px;
background-color: #ffeeee;
      background-clip: content-box;
      min-height: 400px;
}


