main{


}
header{
	
}

footer{
	margin-top: 1em;
	clear: both;
	padding-top: 2em;

background:linear-gradient(#ffffff,#f2d4d2, #f2b8b5,#f29d99);
min-height: 16.5em;
}



#logo{
width: 10em;	
padding: 0.5em;
}

#logofooter{
	float: right;
	width: 10em;	

}

#Perros:hover, #Home:Hover,#Gatos:Hover{
background:linear-gradient(#f2b8b5, #f2b8b5,#f29d99);
color: #ffffff;

}

.page-header{
	margin-bottom:0px;
	margin-top: 0.5em;
	
}



.icon{
	height: 2em;
	margin-top: 0;
	margin-bottom: 1em;
}

.navbar-default #Perros:Active ,.navbar-default #Home:Active,.navbar-default #Gatos:Active {
	color: #ffffff;
	 background: #f29d99;
}




.navbar-default{
	background: #f2b8b5
}


#ShopName{
color: #ffffff;

}

#Carrousel1{
	margin-bottom: 1em;
}



main{
	margin:0 auto;
	margin-bottom: 2em;
}



.shoppingitemRow {
   margin: 0;
padding: 0;
      
      

}

.shopitem{
padding: 20px;
position: relative;
    text-align: center;
    color: white;
    height: 23em;
      background-clip: content-box;
      min-height: 1em;
}


.categoriaNombre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #976260;
    z-index: 99;
    opacity: 1;
    font-family: "courier" ;
}


.shopitemimg{
	height: 100%;
	width: 100%;
	border: 2px solid #f29d99;
     border-radius: 5px;
     padding: 1em;
}

.whitebackground{
	background-color: #ffffff;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	z-index: 50;
	position: absolute;
    top: 0%;
    left: 0%;
}

main a:hover .shopitemimg{
background-color: #f29d99;



}








.itemproduct{
padding: 20px;
position: relative;
    text-align: center;
    color: white;
      background-clip: content-box;
      min-height: 1em;
      border: 1px solid #f2b8b5;
    /* border-radius: 5px;*/
     padding: 1em;
     border-collapse: collapse;
}


.ItemNombre {
    position: relative;
   
  /*  transform: translate(-50%, -50%);*/
   /* font-size: 3em;*/
    color: #976260;
    z-index: 99;
    opacity: 1;
    font-family: "courier" ;
}


.itemimg{
	height: 100%;
	width: 100%;
	
}

.listnostyle{
list-style: none;
border:0;
margin:0;
padding: 0;
}

.textogris{
	color: #757575;
}