header{
	
}

#Perros:hover, #Home:Hover,#Gatos:Hover{
background-color: #f29d99;
color: #ffffff;

}

.page-header{
	margin-bottom:0px;
	margin-top: 0.5em;
	
}

.icon{
	height: 2em;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-default #Perros:Active , #Home:Active,#Gatos:Active {
	color: #b57674;


}

#ShopName{
color: #b57674;
}

main{
	width: 80%;
	margin:0 auto;
}
